<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chennai Metro</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="/static/videos/Nature.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <header>
        <nav class="navbar">
            <ul class="logo">
                <li><a href="/">M e t r o</a></li>
            </ul>
            <ul class="option">
                <li><a href="/" class="underline">Home</a></li>
                <li><a href="/Service" class="underline">Services</a></li>
                <li><a href="/Contact" class="underline">Contact</a></li>
                <li><a href="/About" class="underline">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="text">
            <h1 class="TypeAnimation">Welcome to The Chennai Metro</h1>
            <p>
                In this website, you can explore four key features designed to enhance your experience. First, you'll find a detailed map view for every metro station included in the Phase 1 projects, allowing you to easily locate stations. Second, you can access real-time train timings for each station, ensuring you know when the next train will arrive. Third, there's an open map for navigation, offering a broader view for route planning. Lastly, you can dive into the source code to understand how these features are implemented.
            </p>
        </div>
    </main>
</body>
</html>